<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/mybutton.css') }}" rel="stylesheet">
    <title>搜索</title>
</head>
<body>
    <div class="parent">
        <div class="main">
            <h3>职工信息搜索</h3>
            <form action="{{ url_for('AdminSearchResult', user=user, id=id) }}" method="post">
                <p><input type="text" name='Employeeid' placeholder="id"></p>

                <p><input type="text" name='name' placeholder="姓名"></p>
                <p><input type="text" name='sex' placeholder="性别"></p>
                <p><input type="text" name='birth' placeholder="出生年月"></p>
                <p><input type="text" name='education' placeholder="学历"></p>
                <p><input type="text" name='job' placeholder="职务"></p>
                <p><input type="text" name='address' placeholder="住址"></p>
                <p><input type="text" name='phone' placeholder="电话"></p>

                <p><input type="submit" value="确认" style="padding-right: 15px; width: 120px;"></p>
            </form>
            <button onclick="location.href= '{{ url_for('HRMS', user=user, id=id) }}' ">返回</button>
        </div>
    </div>
</body>
</html>
