<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/mybutton.css') }}" rel="stylesheet">
    <title>删除职工</title>
</head>
<body>
<div class="parent">
    <div class="main">
        <h3>员工信息删除</h3>
        <form action="{{ url_for('AdminDeleteHandle', user=user, id=id) }}" method="post">
            <p><input type="text" name='Employeeid' placeholder="id"></p>
            <p><input type="submit" value="确认" style="padding-right: 15px; width: 120px;"></p>
        </form>
        <button onclick="location.href= '{{ url_for('HRMS', user=user, id=id) }}' ">返回</button>
    </div>
</div>
</body>
</html>
